.container {
    width: 800px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.value {
    padding: 10px;
    background: #8257e6;
    color: #fff;
    border-radius: 6px;
    width: 15px;
    text-align: center;
    text-decoration: none;
}

.level {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 350px;
}

.answers {
    width: 350px;
    display: flex;
    justify-content: space-between;
}